#navigation_wrapper {
	width: 100%;
	border-bottom: 1px solid #999999;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
	position: fixed;
	background-color: #ffffff;
	top: 0;
}

#navigation_control {
	float: left;
	margin-left: 20px;
	margin-top: 13px;
}

.controlbutton {
	float: left;
	margin: 0px 3px;
}

.controlbutton:hover {
	cursor: pointer;
}

#navigation_time {
	float: left;
	margin-top: 13px;
	margin-left: 20px;
	font-size: 16px;
}

#navigation_time input {
	font-size: 16px;
	width: 65px;
	margin-bottom: 3px !important;
}

#menu {
	float: right;
	margin-top: 13px;
	margin-right: 20px;
}

#menu img {
	margin-top: -3px;
}

#menu .btn-small {
	width: 30px !important;
}

#navigation_logo {
	float: right;
	margin-right: 20px;
	margin-top: 13px;
}

/* SLIDER */
#volume {
	position: relative;
	margin-top: 24px;
	width: 100px;
	float: left;
	margin-left: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	height: 4px;
	background-color: #8e8d8d;
	background: url('images/bg-track.png') repeat top left;
	box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px
		rgba(250, 250, 250, .5);
}

.volume_icon {
	float: left;
	margin-top: 15px;
	margin-left: 15px;
}

#slider {
	margin: 15px 20px 0px;
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	height: 4px;
	background-color: #8e8d8d;
	background: url('images/bg-track.png') repeat top left;
	box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 0 1px 0 0px
		rgba(250, 250, 250, .5);
}

.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px !important;
	height: 25px !important;
	cursor: pointer !important;
	background: url('images/handle.png') no-repeat 50% 50% !important;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	border: none !important;
	top: -10px !important;
	margin-left: -12px;
}

.ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
		color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #eaeaea 100%);
	/* IE10+ */
	background: linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ffffff',
		endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}

#segment_wrapper {
	margin: 0px 22px;
	height: 14px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	margin-bottom: 15px;
}

#segment_wrapper .row-fluid .span12 {
	min-height: auto;
}

.segment {
	height: 10px !important;
	min-height: 10px !important;
	border-right: 1px solid #000000;
	margin: 0px !important;
	padding-left: 2% !important;
	transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

.segment:hover {
	cursor: pointer;
	background-color: #dddddd;
	border-bottom: 1px solid #cccccc;
}

/* Expanded Header */
.expand_button {
	width: 23px;
	height: 23px;
	padding: 5px;
	margin-top: 1px;
	background: #dddddd;
	position: fixed;
	right: 20px;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.expand_button:hover {
	cursor: pointer;
}

.rotate180 {
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.expanded_content {
	display: none;
	width: 100%;
	background: #f9f9f9;
	border-top: 1px solid #e3e3e3;
	padding: 10px 20px;
}

.expanded_content img {
	border-left: 2px solid #333333;
	border-bottom: 2px solid #333333;
	border-right: 2px solid #333333;
}
