<div id="videojs_wrapper">
    <% if(typeof ids !== "undefined" ){ var i = 1;%>
        <% _.each(ids, function(id) { %>
            <div id="videoDisplay<%= i%>">
                <video id="<%= id %>" class="video-js vjs-default-skin container"></video>
            </div>
        <% i++;}); %>
    <% } %>
</div>